.jumbotron {
    border-radius: 0px;
    background-color: #4568dc;
    background-image: linear-gradient(to right, #4568dc, #3497c5);

    color: white;

    a {
        color: #dcd445;
    }

    a :hover {
        color: #f5f118;
    }
}

#footer-section {
    margin-top: 100px;
}

.padding-top-bot {
    padding-top: 25px;
    padding-bottom: 25px;;
}

button i {
    margin-right: 5px;
}

.listening-status {
    .fas {
        margin-left: 5px;
    }
}

.status-listening {
    color: green;
}

.status-stopped {
    color: darkred;
}

code {
    background-color: rgba(27,31,35,.05);
    margin: 0;
    padding: .2em .4em;
    color: black;
    border-radius: 6px;
}